.thankyouheading{
    font-weight: bold;
}

.visitagainheading{
    font-weight: bold;
}

.thanksgiving{
    text-align: center;
    margin-top: 80px;
}

.gotohomebutton{
    text-align: center;
    margin-top: 20px;
}